#welcome {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.form_card {
  min-height: 520px;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.centerVh100 {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.or {
  text-align: center;
  color: #282c34;
  position: relative;
  margin-bottom: 1rem;
}
.or::after {
  content: "";
  position: absolute;
  border: 1px solid #282c34;
  top: 50%;
  right: -10%;
  width: 100px;
}
.or::before {
  content: "";
  position: absolute;
  border: 1px solid #282c34;
  top: 50%;
  left: -10%;
  width: 100px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.mai {
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
